$bg_std: #888;
$home_bg: orange;
$font_std: 'Josefin Sans', sans-serif;
$font_header_form: 'Acme', sans-serif;
$black: #000;
$white: #fff;
$h1_color:  #4484CE;
$animation_time: 350ms;
$gutter_std: 1vw;
